<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    $for(author-meta)$
    <meta name="author" content="$author-meta$">
    $endfor$
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$">
    $endif$
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Source+Code+Pro" rel="stylesheet">
  
    <style type="text/css">
      $header-includes$
    </style>

    $if(highlighting-css)$
      <style type="text/css">
    $highlighting-css$
      </style>
    $endif$

    $for(css)$
    <link rel="stylesheet" href="$css$" $if(html5)$$else$type="text/css" $endif$/>
    $endfor$

    $if(math)$
      $math$
    $endif$
    $for(header-includes)$
      $header-includes$
    $endfor$
  </head>

  <body itemscope itemtype="http://schema.org/TechArticle">
    <nav>
      <a href="index.html" class="logo">
        <img src="img/logo.png" alt="Logo">
      </a>
      <button id="toggle">
        Menu
      </button>
      <ul class="toc">
$toc$
      </ul>
    </nav>

    <main>
      <article>
        <h1 class="document-title" itemprop="name">
          $title$
        </h1>
        <p itemprop="version" class="document-version">
          <span class="version">$version$</span>
        </p>
$body$
      </article>
    </main>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/nav.js"></script>
  </body>
</html>
